<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
<h1>{{classe |capitalize}}</h1>
{# <table id='servantList'>
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Picture
			</th>
			<th>
				Rarity
			</th>
		</tr>
	</thead>
	<tbody>
		{% for i in 0..nb_servant %}
			<tr>
				<td>
					{{servant[i].originalName}}
				</td>
				{% if servant[i].extraAssets.faces.ascension.1 is defined %}
					<td class='servantPic'><a href='/fgo/servant/{{servant[i]['name']|replace({' ':'_'})}}' ><img src="{{servant[i]['extraAssets']['charaGraph']['ascension']['1']}}"/></a></td>
				{% else %}
					<td  class='servantPic'><a href='/fgo/servant/{{servant[i]['name']|replace({' ':'_'})}}' ><img src="{{servant[i]['extraAssets']['charaGraph']['ascension']['0']}}"/></a></td>
				{% endif %}
				<td>
					{% for j in 1..servant[i].rarity %}
						★
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table> #}
{% for row in servant|batch(4, 'undefined') %}
	<table class='servantList'>
		<tbody>
			<tr>
				{% for column in row %}
					<td class='rarity'>
						{% if column['name'] is defined %}
							{% for j in 1..column['rarity'] %}
								★
							{% endfor %}
						{% endif %}
					</td>
				{% endfor %}
			</tr>
			<tr>
				{% for column in row %}
					<td class='servantPic'>
						{% if column['name'] is defined %}
							<a href='/fgo/servant/{{column['name']|replace({' ':'_'})}}'><img class='asc1' src="{{column['extraAssets']['charaGraph']['ascension']['1']}}"/></a>
							{# <a href='/fgo/servant/{{column['name']|replace({' ':'_'})}}'><img class='asc2' src="{{column['extraAssets']['charaGraph']['ascension']['2']}}"/></a>																									    <a href='/fgo/servant/{{column['name']|replace({' ':'_'})}}'><img class='asc3' src="{{column['extraAssets']['charaGraph']['ascension']['3']}}"/></a> #}
						{% endif %}
					</td>
				{% endfor %}
			</tr>
		
		</tr>
		<tr>
			{% for column in row %}
				<td class='bold'>
					{% if column['name'] is defined %}
						<a href='/fgo/servant/{{column['name']|replace({' ':'_'})}}'>{{column['name']}}</a>
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	</tbody>
</table>
<br>
{% endfor %}
<script src="{{ asset('js/script.js') }}"></script>
