<link href="{{ asset('css/servant.css') }}" rel="stylesheet"/>
<h1>{{servant.name}}</h1>
<img id="asc1" class='asc' src="{{servant['extraAssets']['charaGraph']['ascension']['1']}}"/>
<img id="asc2" class='asc' src="{{servant['extraAssets']['charaGraph']['ascension']['2']}}"/>
<img id="asc3" class='asc' src="{{servant['extraAssets']['charaGraph']['ascension']['3']}}"/>
<img id="asc4" class='asc' src="{{servant['extraAssets']['charaGraph']['ascension']['4']}}"/>