<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
<h1>{{classe |capitalize}}</h1>
{% for row in servant|batch(4, 'undefined') %}
	<table class='servantList'>
		<tbody>
			<tr>
				{% for column in row %}
					<td class='rarity'>
						{% if column['name'] is defined %}
							{% for j in 1..column['rarity'] %}
								★
							{% endfor %}
						{% endif %}
					</td>
				{% endfor %}
			</tr>
			<tr>
				{% for column in row %}
					<td class='servantPic'>
						{% if column['name'] is defined %}
							{% if column['name'] == 'BB' and column['rarity'] == 5 %}
								<a href='/fgo/servant/BB_(Summer)'><img class='asc1' src="{{column['extraAssets']['charaGraph']['ascension']['1']}}"/></a>
							{% else %}
								{% if column['extraAssets']['charaGraph']['ascension']['1'] is defined %}
									<a href='/fgo/servant/{{column['name']|replace({' ':'_', '/':'&'})}}'><img class='asc1' src="{{column['extraAssets']['charaGraph']['ascension']['1']}}"/></a>
								{% else %}
									<a href='/fgo/servant/{{column['name']|replace({' ':'_', '/':'&'})}}'><img class='asc1' src="{{column['extraAssets']['charaGraph']['ascension']['0']}}"/></a>
								{% endif %}							
							{% endif %}
						{% endif %}
					</td>
				{% endfor %}
			</tr>
			<tr>
				{% for column in row %}
					<td class='bold'>
						{% if column['name'] is defined %}
							<a href='/fgo/servant/{{column['name']|replace({' ':'_',' /':'-'})}}'>{{column['name']}}</a>
						{% endif %}
					</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
	<br>
{% endfor %}
<script src="{{ asset('js/script.js') }}"></script>
